@media (min-width: 1025px) {
  .sidebar {
    background: rgba(25, 23, 24, 1);
    min-height: 935px;
    max-width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    background: rgba(25, 23, 24, 1);
    min-height: 935px;
    max-width: 150px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    background: rgba(25, 23, 24, 1);
    height: 935px;
    max-width: 150px;
  }
}
